# editor
.vscode
.vs

# executables
*.exe
*.out
*.bin

# libraries
*.so
*.a
*.lib
*.dll
*.dylib

# empty folders
!.gitkeep

# linux trash folder
.Trash-*

# temporary files
.nfs*

# github template
!.github

# markdown cache
*.html