# editor
.vscode
.vs

# executables
*.exe
*.out
*.bin

# libraries
*.so
*.a
*.lib
*.dll
*.dylib

# empty folders
!.gitkeep

# github template
!.github

# linux trash folder
.Trash-*

# temporary file
.nfs*

# html
*.html

# database
.bak