# editor
.vscode

# executables
*.exe
*.out
*.bin

# libraries
*.so
*.a
*.lib
*.dll
*.dylib

# empty folders
!.gitkeep

# github template
.github
CONTRIBUTING.md
CODE_OF_CONDUCT.md

# html
*.html

# database
.bak

# jekyll template
_config.yml